@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .btn {
    @apply bg-[#12b488] text-white px-3 py-2 rounded-md text-sm text-white inline-block;
  }
  .card {
    
    @apply p-3 rounded-md bg-[#161D2E] shadow-md h-full;
  }
}